/* Projects Area css
============================================================================================ */
.projects_area{
	
}
.projects_fillter{
	.filter{
		text-align: center;
		margin-top: 70px;
		margin-bottom: 50px;
		li{
			display: inline-block;
			margin-right: 30px;
			a{
				font-size: 13px;
				color: $pfont;
			}
			&:last-child{
				margin-right: 0px;
			}
			&.active{
				a{
					color: $baseColor;
				}
			}
		}
	}
}
.projects_inner{
	margin-bottom: -30px;
}
.projects_item{
	display: inline-block;
	width: 100%;
	height: auto;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 19px 0px rgba(35, 38, 131, 0.16);
	-moz-box-shadow: 0px 0px 19px 0px rgba(35, 38, 131, 0.16);
	box-shadow: 0px 0px 19px 0px rgba(35, 38, 131, 0.16);
	@include transition;
	&::after{
		content: "";
		display: inline-block;
		background: linear-gradient(to right, #8490ff 0%, #62bdfc 100%);
		background: url("../img/eye.png") center no-repeat;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 70px;
		height: 70px;
		border-radius: 50%;
		opacity: 0;
		transition: all 300ms ease;
	}
	&:hover{
		-webkit-box-shadow: 0px 0px 19px 5px rgba(46, 48, 122, 0.23);
		-moz-box-shadow: 0px 0px 19px 5px rgba(46, 48, 122, 0.23);
		box-shadow: 0px 0px 19px 5px rgba(46, 48, 122, 0.23);
		&::after{
			opacity: 1;
		}
	}
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.projects_text{
		position: absolute;
		left: 0px;
		bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		h4{
			font-size: 21px;
			font-weight: bold;
			color: $dip;
			margin-bottom: 5px;
			@include transition;
			text-transform: uppercase;
			cursor: pointer;
		}
		p{
			margin-bottom: 0px;
			font-size: 14px;
		}
	}
}
/* End Projects Area css
============================================================================================ */

/* Apollo Hover Effect
============================================================================================*/

.hover-effect {
	background-image: linear-gradient(to right, #6674f0 0%, #42acf8 100%);
}

.hover-effect img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.hover-effect::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.35);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,2,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,3.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	z-index: 10;
}

.hover-effect p {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 3em;
	padding: 0 1em;
	max-width: 150px;
	border-right: 4px solid #fff;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

.hover-effect h2 {
	text-align: left;
}

.hover-effect:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.hover-effect:hover{
	&::before {
		transition: transform 0.6s;
		-webkit-transform: scale3d(1.9,2,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
		transform: scale3d(1.9,3.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	}
}

.hover-effect:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

/* End Apollo Hover Effect
============================================================================================*/